 #btn{
  background-color: white;
  border: none;
  border-radius: 7px;
  margin-right: 20px;
}

i{
  padding: 10px;
  width: 50px;
  color: black;

}
#btnSair{
  color: #006d9c;
  font-size: 25px;
  width: 100px;
  background-color: white;

}
nav{
  background-color: rgb(255, 212, 0);
  /* background-color: #008aad; */

  height: 150px;

}
.nav-link{
  color: #006d9c;
  font-size: 30px;
}
