<nav class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="[' ']">
    <i class="fa fa-paw"></i>
  </a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" ><b>Home</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/perfil']" routerLinkActive="router-link-active" ><b>Perfil </b></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/sobre']" routerLinkActive="router-link-active" > <b>Sobre </b></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="escolha o seu animal.." aria-label="Search">
      <div class="class btn">
        <button type="button" id="btn" class="btn text-black" disabled>
          <i class="fa fa-search" id="BarraDePesquisa"></i>
        </button>
      </div>
    </form>

      <br>
      <a [routerLink]="['/login']">
        <button type="button" id="btnSair" class="btn btn"> <b>Sair </b> </button>
      </a>

  </div>
</nav>
