
<nav class="navbar navbar-expand-lg" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['/home']">
      <img src="/assets/img/logo.png" id="logo" style="margin-left:10% ;">
    </a>
    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link animate__animated animate__bounce" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link animate__animated animate__bounce" [routerLink]="['/perfil']" routerLinkActive="router-link-active" >Perfil </a>
        </li>
        <li class="nav-item">
          <a class="nav-link animate__animated animate__bounce" [routerLink]="['/sobre']" routerLinkActive="router-link-active" >Sobre</a>
        </li>
      </ul>
      <div class="field" id="hidden" >
        <i style="margin-top: 38px; font-size: 35px;" class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i>
        <div id="excloi"  (click)="deletePerfil()" >
          <div class="ui tiny horizontal list">
            <div class="item">
              <img class="ui avatar image" src="http://localhost:3333/files/{{user.imagem}}">
              <div class="content">
                <div class="header" style="margin-top:4px ;" id="excluPerfil">
                  <strong>EXCLUIR PERFIL</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="class btn" style="margin-right: 4%; margin-bottom: 0.9%;">
        <button type="button" id="btnSair" class="btn text-black" (click)="exit()">
          <div data-tooltip="SAIR DO AMOPATAS" data-position="bottom center">
            <i id="out" class="sign out alternate icon" style="color: #16479d; "></i><br>
          </div>
        </button>
      </div>
    </div>
</nav>
<!-- <hr> -->
