.cadastro{
    /* background-image: url('/assets/img/cadastro.jpg'); */
    /* background-image: url('/assets/img/login.jpg'); */
    background-color: #80d6f7;
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card{
  box-sizing: border-box;
  box-shadow: 0 30px 30px rgba(0,0,0,0.5);
  position: relative;
  z-index: 10;
}

.card form {
  padding: 0 30px;

}

.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 1rem;
  border: none;
  outline: none;
}

form .txt_field {
  position: relative;
  border-bottom: 2px solid #a6a6a6;
  margin: 18px 3px;
}


#exampleInputEmail1:onclick{
  color: black;
}

#submit{
  margin-top: 10px;
  background: linear-gradient( to right,#FFAA1B, #FFAA1B, #FF8F24, #FF792B,#FF5D34, #FF5641,#FF4F4F,#FF495B, #FF4368,#EB388B,#D73799,#C337A7,#BB37AD,#b438a8, #b13da3, #A336BD);
  border: none;
  border-radius: 1000px;
  height: 40px;
  color: white;
  transition: all 0.3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: white;
  transform: translateY(-6px);
}


#logo{
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  height: 90px;
  width: 140px;
  margin-top:5% ;
  margin-left: 34%;
  margin-bottom: 10%;
  /* margin-top: 1%; */
  /* float: left; */
}

#logo:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

}


#back{
  float: left;
  margin-right: 400px;
  /* border-color: black; */
  /* border: solid; */
  /* border-width: 4px; */
  width: 38%;
}


#back:hover{
  border-color: rgb(223, 213, 213);
  border: solid;
  border-width: 1px;
}

#image{
  font-size:41px ;
  margin-top: 5%;
}

#iconImage{
  margin-top: 20%;

}


i:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: #16479d;
  transition: transform .5s ease;

}

i{
  color: rgb(109, 109, 109);
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
}

.signup_link {
  text-align: center;
  font-size: 16px;
  color: #6666;
}

a{
  color: #2691d9;
  text-decoration: none;
}

/*input::placeholder {
  color: white;
}*/

/*
.icon{
  display: flex;
  flex-direction: column;
}

span{
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.8rem;
  text-align: center;
}

.icon .social-field {
  padding: .35rem;
  border-radius: 4px;
  font-size: 0.85rem;
  width: 80%;
  cursor: pointer;
  margin-top: .5rem;
}

.icon .social-field > a {
  text-decoration: none;
  color: white;
}

.icon .social-field > a > i {
  margin: 0 0.5rem;
  width: 15px;
}


.icon .social-field.facebook{

}

/* Google

.icon .social-field.google{
  background: #333333;
}

.icon .social-field.google{
  border: 1px solid #333333;
}

.icon .social-field.google a{
  color: white;
}

#date{
  float: left;
}

.container{
  margin-left: 7%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

span{
  text-align: center;
  margin-left: 0%;
}

body
{
  background: #eee;
  font-family: 'Ubuntu', sans-serif;
}
.container
{
  width: 50%;
  margin: 3rem auto;
}

#loginForm
{
  background: #FFF;
  padding: 2rem;
}

#loginForm h2
{
  text-align: center;
}

#loginForm label
{
  display: block;
}

#loginForm input
{
  padding: 5px;
}
#loginForm input[type=text]
{
  width: 95%;
}
#loginForm #password
{
  width: 75%;
}

.button
{
  background: #eee;
  border: 1px solid #999;
  cursor: pointer;
  padding: 6px !important;
}

.button:hover
{
  background: #ddd;
}

*/
