
<div class="cadastro">
  <!--div de conteudo-->
  <div class="card" style="width: 30rem; height: 43rem; margin-top: 08%;">

    <a [routerLink]="['/']">
      <button type="button" id="back" class="btn" style=" margin: 1%;">
        <i class="fa fa-chevron-left" aria-hidden="true" style="margin-right:8px ;"></i>
        <span style="text-align: center; font-size: 12px; color: blue;">
            Voltar ao login
        </span>
      </button>
    </a>
    <img
      class="card-img-top"
      src="/assets/img/logo4.png" id="logo" style="width:190px;height: 150px; margin-left: 30%;"
    />
    <div class="card-body">
      <form >
       <div class="form-group">
          <h3 class="">Crie sua conta para acessar as informaçoes</h3>
       </div>
        <div class="txt_field">
          <input type="text" class="form-control" name="senha" id="name" placeholder="Nome:"  [(ngModel)]="user.name">
          <div class="underline"></div>
        </div>
        <div class="txt_field">
          <input type="email" class="form-control" name="senha" id="email" placeholder="E-mail:" [(ngModel)]="user.email">
          <div class="underline"></div>
        </div>
        <!-- <div class="txt_field">
          <input type="tel" class="form-control" name="senha" id="senha" placeholder="Telefone:" [(ngModel)]="user.telefone"/>
          <div class="underline"></div>
        </div> -->
        <!-- <div class="txt_field">
          <input type="text" class="form-control" name="senha" id="senha" placeholder="Sua descricao:" [(ngModel)]="user.descricao" />
          <div class="underline"></div>
        </div> -->
        <!-- <div class="txt_field">
          <input type="text" class="form-control" name="senha" id="senha"  placeholder="Rede social: " [(ngModel)]="user.rede_social"/>
          <div class="underline"></div>
        </div> -->
        <div class="txt_field">
          <label id="date"> Data de Nascimento : </label>
          <input type="date" class="form-control" name="senha" id="data" placeholder="xx/xx/xxxx"  [(ngModel)]="user.data_nascimento"/>
        </div>
        <div class="txt_field">
          <input type="password" class="form-control" name="senha" id="senha" placeholder="Senha:"  [(ngModel)]="user.senha"/>
        </div>
        <div class="txt_field">
          <input type="password"  class="form-control" id="confirmPassword" placeholder="Confirmar Senha: "/>
        </div>
        <!-- <a [routerLink]="['/home']"> -->
        <button type="submit" id="submit" class="button" style="width: 230px; height: 40px; margin-top: 10%;"(click)="criar()">
          CRIAR CONTA
        </button>
        <!-- <button type="button" class="btn text-white" style="width: 200px; height: 40px;"> CRIAR CONTA</button> -->
        <!-- </a> -->

        <br/>
        <br/>
        <!-- <span> Ou Cadastra-se com </span>
        <div class="container">
          <div class="icon">
            <div class="social-fields">
              <div class="social-field facebook">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                  Sign up with Facebook
                </a>
              </div>

              <div class="social-field google">
                <a href="#">
                  <i class="fa fa-google"></i>
                  Sign up with Google
                </a>
              </div>
            </div>
          </div>
        </div> -->
      </form>
    </div>
  </div>
</div>
