
h2{
  color: black;
}

.text-center img{
  border-radius: 50%;
}

.bg-container{
  /* background-color: #fff;s */
}

i{
  color: black;
  width: 80px;
}

#edit{
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
}

#edit:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  /* color: #483D8B; */
}
