<app-header></app-header>


<div class="container my-5 p-5 text-center"  >
  <h2 class="display-3">
    <span  style="color: #16479d; font-size: 30px">
      ATUALIZE SUAS INFORMAÇÕES
    </span>
  </h2>
  <form class="p-3" id="form">
    <!--inserir imagem-->
    <div class="form-row mb-2">
      <div class="form-group col-md-12">
        <label for="Perfil" style="margin-right:91% ;"><strong class="text-primary">Foto Perfil: </strong></label><br/>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-camera" aria-hidden="true"></i></span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01">
            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
          </div>
        </div>
      </div>

      <div class="form-group col-md-12">
        <label for="Nascimento" style="margin-right: 100%;"><strong class="text-primary">Nome</strong></label>
        <input type="text" class="form-control" id="inputEmail4" placeholder="Editar Nome"/>
      </div>
    </div>

    <div class="form-row mb-2">
      <div class="form-group col-md-6">
        <label for="Nascimento"><strong class="text-primary">Alterar data de nascimento</strong></label>
        <input
          type="date"
          class="form-control"
          id="inputCity"
        />
      </div>
    </div>

    <div class="form-row mb-2">
      <div class="form-group col-md-6">
        <label for="Nascimento"><strong class="text-primary">Alterar Telefone</strong></label>
        <input
          type="tel"
          class="form-control"
          id="inputCity"
          placeholder="Telefone"
        />
      </div>
    </div>

    <div class="form-row mb-2">
      <div class="form-group col-md-6">
        <label for="Nascimento"><strong class="text-primary">URL-Rede Social</strong></label>
        <input
          type="text"
          class="form-control"
          id="inputCity"
          placeholder="Url"
        />
      </div>
    </div>

    <div class="form-row mb-2">
      <div class="form-group col-md-6">
        <label for="Nascimento"><strong class="text-primary">Sua Descrição</strong></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>

    <div class="ui large buttons">
      <button class="ui blue basic button">ALTERAR</button>
      <div class="or" ></div>
      <a [routerLink]="['/perfil']" routerLinkActive="router-link-active">
        <button class="ui red basic button" id="cancela">CANCELA</button>
      </a>
    </div>
  </form>
</div>

