<app-header></app-header>
<!-- TODO INICIO DO FORMULARIO -->
<div class="container my-5 p-5">
  <h2 class="display-3">
    <span style="color: #16479d; font-size: 50px"> <b>Atualizar Pets</b></span>
  </h2>
  <form class="p-3" id="form" enctype="multipart/form-data" method="post">
    <div class="form-row mb-2">
      <div class="form-group col-md-12">
        <label for="inputFoto">Foto do pet:</label>
        <br />
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <i id="file" class="folder open outline icon" aria-hidden="true"></i>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="selectedImage($event)" />
            <label class="custom-file-label text-left" id="customFileLabel" for="inputGroupFile01">
              {{imagem.name | uppercase}}
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row mb-2">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Nome:</label>
        <input type="text" class="form-control" name="senha" id="name" placeholder="Digite o nome do pet"
          [(ngModel)]="pets.name" />
      </div>
      <div class="form-group col-md-6">
        <label for="exampleFormControlSelect1">Porte</label>
        <select class="form-control" id="situacao" name="situacao" [(ngModel)]="pets.porte">
          <option value="PEQUENO">PEQUENO</option>
          <option value="MEDIO">MEDIO</option>
          <option value="GRANDE">GRANDE</option>
        </select>
      </div>
    </div>
    <div class="form-row mb-2">
      <div class="form-group col-md-6">
        <label for="inputCity">Raça:</label>
        <input type="text" class="form-control" name="senha" id="name" placeholder="Digite a raça do animal !"
          [(ngModel)]="pets.breed" />
      </div>
      <div class="form-group col-md-6">
        <label for="inputCity">UF:</label>
        <select class="form-control" id="UF" name="UF" [(ngModel)]="pets.uf">
          <option value="AC">Acre</option>
          <option value="AL">Alagoas</option>
          <option value="AP">Amapá</option>
          <option value="AM">Amazonas</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceará</option>
          <option value="DF">Distrito Federal</option>
          <option value="ES">Espírito Santo</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="MT">Mato Grosso</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MG">Minas Gerais</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PR">Paraná</option>
          <option value="PE">Pernambuco</option>
          <option value="PI">Piauí</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RN">Rio Grande do Norte</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="RO">Rondônia</option>
          <option value="RR">Roraima</option>
          <option value="SC">Santa Catarina</option>
          <option value="SP">São Paulo</option>
          <option value="SE">Sergipe</option>
          <option value="TO">Tocantins</option>
          <option value="EX">Estrangeiro</option>
        </select>
      </div>
    </div>
    <div class="form-row mb-2">
      <div class="form-group col-md-6">
        <label for="inputCity"> E a Cidade:</label>
        <div class="ui fluid icon input">
          <input type="text" placeholder="INSIRA SUA CIDADE" />
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="inputCity">Idade:</label>
        <input type="number" class="form-control" placeholder="Digite a idade do animal !" [(ngModel)]="pets.age" />
      </div>
    </div>
    <div class="form-row mb-2">
      <div class="form-group col-md-6">
        <label for="inputituacao">Situacao:</label><br />
        <div class="field">
          <select class="form-control" id="situacao" name="situacao" [(ngModel)]="pets.situacao">
            <option value="NÃO ADOTADO">NÃO ADOTADO</option>
            <option value="ADOTADO">ADOTADO</option>
          </select>
          <div class="ui pointing red basic label">
            obs:recomendamos que venha declarar a situação caso o animal seja
            adotado, e nos informe o @ da pessoa que o adotou
          </div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="inputCity">Sexo:</label>
        <select class="form-control" id="situacao" name="situacao" [(ngModel)]="pets.sexo">
          <option value="MACHO" selected>MACHO</option>
          <option value="FEMEA">FEMEA</option>
        </select>
      </div>
    </div>
    <div class="form-floating mb-4">
      <label for="floatingTextarea2">Descrição:</label>
      <input type="text" class="form-control" name="textarea" id="textarea" style="height:150px ;"
        [(ngModel)]="pets.descricao" />
    </div>
    <div class="large ui buttons">
      <button type="submit" class="btn cadastro" (click)="atualizar()">Atualizar</button>
      <br />
      <button class="btn cancelar">Cancelar</button>
    </div>
  </form>
</div>

<!--
  <div class="container my-5 p-5 text-center"  >
  <h2 class="display-3">
    <span  style="color: #16479d; font-size: 30px">
      ATUALIZE AS INFORMAÇÕES DOS PETS
    </span>
  </h2>
  <form class="p-3" id="form">
    <div class="form-row mb-2">
      <div class="form-group col-md-12">
        <label for="Perfil" style="margin-right:91% ;"><strong class="text-primary">Foto Perfil: </strong></label><br/>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-camera" aria-hidden="true"></i></span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01">
            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
          </div>
        </div>
      </div>

      <div class="form-group col-md-12">
        <label for="Nascimento" style="margin-right: 100%;"><strong class="text-primary">Nome</strong></label>
        <input type="text" class="form-control" id="inputEmail4" placeholder="Editar Nome"/>
      </div>
    </div>

    <div class="form-row mb-2">
      <div class="form-group col-md-6">
        <label for="Nascimento"><strong class="text-primary">Alterar data de nascimento</strong></label>
        <input
          type="date"
          class="form-control"
          id="inputCity"
        />
      </div>
    </div>

    <div class="form-row mb-2">
      <div class="form-group col-md-6">
        <label for="Nascimento"><strong class="text-primary">Alterar Telefone</strong></label>
        <input
          type="tel"
          class="form-control"
          id="inputCity"
          placeholder="Telefone"
        />
      </div>
    </div>

    <div class="form-row mb-2">
      <div class="form-group col-md-6">
        <label for="Nascimento"><strong class="text-primary">URL-Rede Social</strong></label>
        <input
          type="text"
          class="form-control"
          id="inputCity"
          placeholder="Url"
        />
      </div>
    </div>

    <div class="form-row mb-2">
      <div class="form-group col-md-6">
        <label for="Nascimento"><strong class="text-primary">Sua Descrição</strong></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>

    <div class="ui large buttons">
      <button class="ui blue basic button">ALTERAR</button>
      <div class="or" ></div>
      <a [routerLink]="['/perfil']" routerLinkActive="router-link-active">
        <button class="ui red basic button" id="cancela">CANCELA</button>
      </a>
    </div>
  </form>
</div> -->

<!--
 <div class="container">
  <form class="ui form segment">
    <div class="two fields">
      <div class="field">
        <label>Name</label>
        <input placeholder="First Name" name="name" type="text">
      </div>
      <div class="field">
        <label>Gender</label>
        <div class="ui selection dropdown">
          <input name="gender" type="hidden">
          <div class="default text">Gender</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" data-value="male">Male</div>
            <div class="item" data-value="female">Female</div>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <label>Username</label>
      <input placeholder="Username" name="username" type="text">
    </div>
    <div class="field">
      <label>Password</label>
      <input name="password" type="password">
    </div>
    <div class="inline field">
      <div class="ui checkbox">
        <input name="terms" type="checkbox">
        <label>I agree to the terms and conditions</label>
      </div>
    </div>
    <div class="ui primary submit button">Submit</div>
    <div class="ui reset button">Reset</div>
    <div class="ui clear button">Clear</div>
  </form>
 </div> -->
