<app-header></app-header>

<div class="content">
  <div class="card">
    <div class="top__card">
      <h2 class="title">Doguinho</h2>
      <span class="topText">Doberman lindão</span>
    </div>

    <div class="media__card">
      <!-- Será usado a propriedade background no css -->
    </div>

    <div class="bottom__card">
      <p class="bottomText">...</p>
      <div class="actions">
        <button>Curtir</button>
        <button>Compartilhar</button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="top__card">
      <h2 class="title">Gatitu</h2>
      <span class="topText"> Ragdoll </span>
    </div>

    <div class="media__card_2">
      <!-- Será usado a propriedade background no css -->
    </div>

    <div class="bottom__card">
      <p class="bottomText">...</p>
      <div class="actions">
        <button>Curtir</button>
        <button>Compartilhar</button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="top__card">
      <h2 class="title">Ronaldo</h2>
      <span class="topText"> Capivara </span>
    </div>

    <div class="media__card_3">
      <!-- Será usado a propriedade background no css -->
    </div>

    <div class="bottom__card">
      <p class="bottomText">...</p>
      <div class="actions">
        <button>Curtir</button>
        <button>Compartilhar</button>
      </div>
    </div>
  </div>

</div>


<app-footer></app-footer>
