<app-header></app-header>

<h1 class="my-5 display-3">
  Ultimas <span class="text-danger">Noticias</span>
</h1>

<app-carrossel></app-carrossel>

<div class="container align-center">
  <div class="row">

    <div class="col">
      <app-card foto="https://imagens.ne10.uol.com.br/veiculos/_midias/jpg/2022/02/09/nju-20553465.jpg"></app-card>
    </div>

    <div class="col">
      <app-card foto="https://imagens.ne10.uol.com.br/veiculos/_midias/jpg/2022/02/09/nju-20553465.jpg"></app-card>
    </div>

  </div>

  <div class="row">

    <div class="col">
      <app-card foto="https://imagens.ne10.uol.com.br/veiculos/_midias/jpg/2022/02/09/nju-20553465.jpg"></app-card>
    </div>

    <div class="col">
      <app-card foto="https://imagens.ne10.uol.com.br/veiculos/_midias/jpg/2022/02/09/nju-20553465.jpg"></app-card>
    </div>

  </div>
</div>
