
h2{
  color: black;
}

.text-center img{
  border-radius: 50%;
}

.bg-container{
  /* background-color: #fff; */
}

i{
  color: black;
  width: 80px;
}


.container{
  /* background-color:#fff; */
  border-radius: 8px;
}

.container img{
  width: 50px;
}
