<app-header></app-header>
<div class="spacing" style="padding-bottom:5% ;">
<div class="text-center" style="margin-bottom:20% ;">
  <div class="bg-container mb-5 p-3">
    <div class="ui small circular rotate left reveal image" style="margin-left:45% ;">
      <img src="https://img.freepik.com/vetores-gratis/coelho-bebe-fofo-ou-animal-de-estimacao-de-lebre-para-design-de-pascoa-coelho-animal-em-estilo-de-desenho-animado-coelho-sentado_352905-774.jpg?w=740" class="visible content">
      <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGLsMukPtqqcg/profile-displayphoto-shrink_200_200/0/1622047474868?e=1654128000&v=beta&t=plOMn7tPhOA68SyzgoFm3cnToJ5L_F_q_rHeobt7NWs" class="hidden content">
    </div>
    <h2 class="mt-3">Carlos Kauan Costa de Brito</h2>
    <p>Aqui é corinthians</p>
    <br>
    <br>
    <a [routerLink]="['/editar']">
      <div class="ui animated button ui blue basic button" id="edit" tabindex="0" style="width: 150px; height: 40px;">
        <div class="visible content">
          <i class="fa fa-pencil" aria-hidden="true" style="color:blue ;"></i>
        </div>
        <div class="hidden content">
          <span>EDITAR PERFIL</span>
        </div>
      </div>
    </a>
    <br> <br>
    <hr />
    <br>


    <ul class="flex-row justify-content-center navbar-nav mr-auto">


      <li class="nav-item p-3">
        <a class="nav-link" [routerLink]="['/perfil']" routerLinkActive="router-link-active">
          <i class="fa fa-bars fa-2x"></i>
        </a>
      </li>

      <li class="nav-item p-3">
        <a class="nav-link" [routerLink]="['/pets']" routerLinkActive="router-link-active">
          <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
        </a>
      </li>

      <li class="nav-item p-3">
        <a class="nav-link" [routerLink]="['/notificacoes']" routerLinkActive="router-link-active">
          <i class="fa fa-bell fa-2x"></i>
        </a>
      </li>

      <li class="nav-item p-3">
        <a class="nav-link" [routerLink]="['/favoritos']" routerLinkActive="router-link-active">
          <i class="fa fa-heart fa-2x"></i>
        </a>
      </li>
    </ul>
  </div>

  <div class="container" style="margin-left:20% ">
    <div class="ui cards" style="margin-bottom:10% ;">
      <div class="card">
        <div class="content">
          <img class="right floated mini ui image" src="/assets/img/cute.jpg">
          <div class="header">Elliot Fu </div>
          <div class="meta">Amigos de Veronika </div>
          <div class="description">Elliot requested permission to view your contact details </div>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
            <div class="ui basic green button">Aprovar</div>
            <div class="ui basic red button">Rejeitar</div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <img class="right floated mini ui image" src="/assets/img/cute.jpg">
          <div class="header">Jenny Hess </div>
          <div class="meta">Novo Membro </div>
          <div class="description">Jenny wants to add you to the group <b>best friends</b> </div>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
            <div class="ui basic green button">Aprovar</div>
            <div class="ui basic red button">Rejeitar</div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <img class="right floated mini ui image" src="/assets/img/cute.jpg">
          <div class="header">Jenny Hess </div>
          <div class="meta">Novo Membro </div>
          <div class="description">Jenny wants to add you to the group <b>best friends</b> </div>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
            <div class="ui basic green button">Aprovar</div>
            <div class="ui basic red button">Rejeitar</div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <img class="right floated mini ui image" src="/assets/img/cute.jpg">
          <div class="header">Jenny Hess </div>
          <div class="meta">Novo Membro </div>
          <div class="description">Jenny wants to add you to the group <b>best friends</b> </div>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
            <div class="ui basic green button">Aprovar</div>
            <div class="ui basic red button">Rejeitar</div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <img class="right floated mini ui image" src="/assets/img/cute.jpg">
          <div class="header">Jenny Hess </div>
          <div class="meta">Novo Membro </div>
          <div class="description">Jenny wants to add you to the group <b>best friends</b> </div>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
            <div class="ui basic green button">Aprovar</div>
            <div class="ui basic red button">Rejeitar</div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <img class="right floated mini ui image" src="/assets/img/cute.jpg">
          <div class="header">Jenny Hess </div>
          <div class="meta">Novo Membro </div>
          <div class="description">Jenny wants to add you to the group <b>best friends</b> </div>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
            <div class="ui basic green button">Aprovar</div>
            <div class="ui basic red button">Rejeitar</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

