<app-header></app-header>
<div class="text-center" style="margin-bottom: 5%; margin-top: 4%">
  <div class="text-center">
    <div class="bg-container mb-5 p-3">
      <div class="ui small circular rotate left reveal image" style="margin-left:45% ;">
        <img src="http://localhost:3333/files/{{user.imagem}}" class="ui medium circular image">
      </div>
      <h2 class="mt-3">{{user.name | uppercase}}</h2>
      <strong><p class="text-primary">{{user.telefone | uppercase}}</p></strong>
      <br>
      <br>
      <a [routerLink]="['/editar']">
        <div class="ui animated button ui blue basic button" id="edit" tabindex="0" style="width: 150px; height: 40px;">
          <div class="visible content">
            <i class="fa fa-pencil" aria-hidden="true" style="color:blue ;"></i>
          </div>
          <div class="hidden content">
            <span>EDITAR PERFIL</span>
          </div>
        </div>
        <br><br>
      </a>
      <br>
      <ul class="flex-row justify-content-center navbar-nav mr-auto">
        <li class="nav-item p-3">
          <a class="nav-link" [routerLink]="['/perfil']" routerLinkActive="router-link-active">
            <i class="fa fa-bars fa-2x"></i>
          </a>
        </li>
        <li class="nav-item p-3">
          <a class="nav-link" [routerLink]="['/pets']" routerLinkActive="router-link-active">
            <i class="fa fa-plus fa-2x" aria-hidden="true" style="--fa-animation-duration: 0.5s;" ></i>
          </a>
        </li>
        <li class="nav-item p-3">
          <a class="nav-link" [routerLink]="['/notificacoes']" routerLinkActive="router-link-active">
            <i class="fa fa-bell fa-2x"></i>
          </a>
        </li>
      </ul>
      <hr>
    </div>
  </div>
  <div class="container">
    <app-solicitacao></app-solicitacao>
  </div>
</div>





