<div><br>
  <h3 class="text-center">Amo Patas</h3>
</div>

<form class="p-3">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Digite o seu email ?</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Senha</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
    <div id="passwordlHelp" class="form-text"><i>Esqueceu sua senha</i></div>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Você é novato</label>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>































<router-outlet></router-outlet>
