.card-header img{
  width: 50px;
}
.card{
  width: 32rem;
}

/* #cardin {
  position:relative;top:0;padding:4px;
}

#cardin :hover {
  top:-1px;

} */
i{
  cursor: pointer;
}

#avatar{
  cursor: pointer;
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
}

#avatar :hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hidden{
  display: block;
}

.hidden:hover{
  display: none;

}

a{
  text-decoration: none;
  cursor: auto;
}

#plus{
  font-size: 27px;
  color: blue;
  transition: all 0.7s ease-in-out 0s;

}

#plus:hover{
  transform: translateY(-4px);

  color: orange;
  transition: all 0.7s ease-in-out 0s;

}

#hidden{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

#plus:hover h4{
  visibility: visible;
  opacity: 1;
}


#adotar{
  transition: all 0.4s ease-in-out 0s;
}

#adotar:hover{
  transform: translateY(-4px);
  transition: all 0.5s ease-in-out 0s;
}

#edit{
  color: #16479d;
  font-size: 22px;
  transition: all 0.7s ease-in-out 0s;
}

#edit:hover{
  transform: translateY(-1px);
  color: orange;
  transition: all 0.7s ease-in-out 0s;
}

#lixerinha{
  color: red;
  font-size: 22px;
  transition: all 0.7s ease-in-out 0s;

}

#lixerinha:hover{
  transform: translateY(-1px);
  color: orange;
  transition: all 0.7s ease-in-out 0s;

}

#infoUser:hover div{
  visibility: visible;
  opacity: 1;
  transition: opacity .5s linear;

}

#infoUser{
  position: absolute;
}

#info{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.4s linear;
  position: absolute;
  z-index: 50;
}


#pesquisa{
  color:#16479d ;
  cursor: pointer;
}

#reload{
  color:#16479d ;
  cursor: pointer;
  margin-left: 2%;
  font-size: 25px;
  transition: all 0.7s ease-in-out 0s;
}

#reload:hover{
  color:orange ;
  transition: all 0.7s ease-in-out 0s;

}


input:active{
  width: 100;
  transition: all 0.7s ease-in-out 0s;
}
