<div class="card-deck">
  <div class="card" *ngFor="let pet of Pets">
    <div class="card-header d-flex align-items-center">
      <img
        src="https://png.pngtree.com/png-vector/20190710/ourlarge/pngtree-user-vector-avatar-png-image_1541962.jpg"
        class="rounded-circle"
      />
      <p class="my-2 p-2">User</p>
    </div>
    <img [src]="foto" alt="Card image cap" />
    <div class="card-body p-1">
      <div class="d-flex justify-content-between align-items-center">
        <i class="fa fa-heart p-3" [routerLink]="['/favoritos']"></i>
        <h2 class="mt-3">{{ pet.name }}</h2>
        <i class="fa fa-send p-3" [routerLink]="['/notificacoes']"></i>
      </div>
    </div>
  </div>
</div>

