

<div class="container">
  <div class="row">
    <div class="ui special cards" id="cardin"  *ngFor="let pet of Pets"  style="margin-left: 3%; margin-top:2% ; margin-bottom: 2%;" >
      <div class="card" style="width: 30rem;" >
        <div class="blurring dimmable image">
          <img src="http://localhost:3333/files/{{pet.imagem}}" alt="Card image cap"  alt="">
        </div>
        <div class="content">
          <div class="row">
          <span class="header">{{pet.name | uppercase}}</span>
          <a  [routerLink]="['/editar-pet']" routerLinkActive="router-link-active">
          <i class="fa fa-pencil-square fa-1x" style="margin-left:2% ; color: orange;" aria-hidden="true"></i>
          </a>

          </div>
          <div class="meta">
            <span class="date">{{pet.createdAt | date : 'short' : '' : 'pt-BR'}} <i class="fa fa-clock-o" aria-hidden="true"></i></span>
          </div>
        </div>
        <div class="extra content">
          <div class="content" >
            <div class="ui grid" id="row" style="padding: 2%; margin-top: 2%;">
              <div class="col-6" >
                <img class="ui avatar image" id="avatar" src="https://png.pngtree.com/png-vector/20190710/ourlarge/pngtree-user-vector-avatar-png-image_1541962.jpg">
              </div>
              <div class="col-6" id="teste">
                <i class="bi bi-bookmark-plus" id="plus" style="margin-left:88% ; margin-top: 1px;" aria-hidden="true" (click)="collapse.toggle()">
                  <h4 class="ui pointing orange basic label text-orange" id="hidden" style="width:100px ; margin-left:142px ;">
                    VER MAIS
                  </h4>
                </i>
              </div>
            </div>
            <div #collapse="ngbCollapse" [(ngbCollapse)]="gfg"><br>
              <div class="card" style="width:460px ;">
                <div class="card-body ui segment" id="pop">
                  <!-- <a class="ui green ribbon label"><h4 class="text-white"><strong>{{pet.breed | uppercase}}</strong></h4></a><br>
                  <a class="ui pink right ribbon label"><h4 class="text-white"><strong>{{pet.uf | uppercase}}</strong></h4></a><br><br>
                  <a class="ui blue ribbon label"><h4 class = "text-white"><strong>IDADE: {{pet.age}}</strong></h4></a><br>
                  <a class="ui teal right ribbon label"><h4 class="text-white"><strong>{{pet.sexo | uppercase}}</strong></h4></a><br><br>
                  <a class="ui red ribbon label"><h4 class="text-white"><strong>{{pet.descricao | uppercase}}</strong></h4></a><br>
                  <a class="ui yellow right ribbon label"><h4 class="text-white"><strong>{{pet.porte | uppercase}}</strong></h4></a><br><br>
                  <a class="ui orange ribbon label"><h4 class="text-white"><strong>{{pet.situacao | uppercase}}</strong></h4></a> -->

                <strong>
                  <h4> Tipo de Raça: {{pet.breed | uppercase}}</h4>
                  <h4> Estado: {{pet.uf | uppercase}} </h4>
                  <h4> Idade do pet: {{pet.age}}</h4>
                  <h4> Sexo: {{pet.sexo | uppercase}}</h4>
                  <h4> Porte: {{pet.porte | uppercase}}</h4>
                  <h4> Descriçao: {{pet.descricao | uppercase}}</h4>
                  <h4> Situação do animal:{{pet.situacao | uppercase}}</h4>
                  <h4> @</h4>x
                </strong>
                </div>
              </div><br><br>
              <div class="ui two column centered grid">
                <button class="ui inverted orange button" id="adotar" style="margin-bottom:3% ;">ADOTAR</button>
              </div>

           </div>
          </div>
        </div>
      </div>


  </div>
</div>
