.card-header img{
  width: 50px;
}
.card{
  width: 32rem;
}

/* #cardin {
  position:relative;top:0;padding:4px;
}

#cardin :hover {
  top:-1px;

} */
i{
  cursor: pointer;
}

#avatar{
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
}

#avatar :hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hidden{
  display: block;
}

.hidden:hover{
  display: none;

}

a{
  text-decoration: none;
  cursor: auto;
}

#plus{
  font-size: 27px;
  color: blue;
  transition: all 0.7s ease-in-out 0s;

}

#plus:hover{
  transform: translateY(-4px);

  color: orange;
  transition: all 0.7s ease-in-out 0s;

}

#hidden{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

#teste i:hover h4{
  visibility: visible;
  opacity: 1;
}

