<div class="card">
  <div class="card-header d-flex align-items-center">
    <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGLsMukPtqqcg/profile-displayphoto-shrink_200_200/0/1622047474868?e=1654128000&v=beta&t=plOMn7tPhOA68SyzgoFm3cnToJ5L_F_q_rHeobt7NWs" class="rounded-circle">
    <p class="my-2 p-2">carlos</p>
    <p class="my-2 p-2">Ver mais</p>
  </div>
  <img [src]=foto alt="Card image cap">
  <div class="card-body p-1">
    <div class="container text-center">
      <h4 class="my-2">doguinho</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. </p>
    </div>
  </div>
</div>
