<div class="container">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>



  <div class="log">
    <!-- Card -->
    <div class="card" style="height: 39rem;">
      <!-- <div class="media__card"></div> -->



      <!-- Form -->
      <form method="post">
        <!-- Titulo do Form -->
        <img src="/assets/img/logo6.png"  class="img-fluid" id="logo">
        <!-- input Email -->
        <div class="txt_field">
          <input type="email" class="form-control" name="senha" id="Email" placeholder="E-mail"  [(ngModel)]="login.email"/>
        </div>
        <!-- Input de Senha -->
        <div class="txt_field">
          <input type="password" class="form-control" name="senha" id="senha" placeholder="Senha:"  [(ngModel)]="login.senha"/>
        </div>

        <div class="pass">
          <a href="#"> Esqueceu a senha ? </a>
        </div>
        <!-- <a [routerLink]="['/home']"> -->
          <input type="submit" value="Login" id="submit" class="btnlogin" (click)="LoginUser()"><br><br>
        <!-- </a> -->

        <!--  dev -->

        <div class="icon">
         <!-- <span>Entra com </span>-->
          <div class="social-fields">
            <div class="social-field facebook" id="face">
              <a href="#">
                <i class="fa fa-facebook"></i>
              <strong> Fazer Login com o Facebook</strong>
              </a>
            </div>

            <div class="social-field google" id="google">
              <a href="#">
                <i class="fa fa-google"></i>
                Fazer Login com o Google
              </a>
            </div>
          </div>
        </div>

        <!-- dev -->

        <a [routerLink]="['/cadastro']">
          <div class="signup_link">
           Não tem uma conta? <a href="#">Cadastre-se</a>
          </div>
        </a>
      </form>
    </div>

    <!-- Conteudo da View -->
    <div class="content">

      <h1 class="content_title">AMOPATAS</h1>
      <h1 class="content_apresentacao">Tudo bem, isso aqui é um teste <br />feito por alunos da ETEC.</h1>
      <p class="content_descricao">Nós somos um site que tem o principal <br />motivo facilitar a adoção de animais.</p>

    </div>

  </div>
</div>
