
<div class="container">
  <div class="log">
    <div class="card" style="height: 33rem;">
      <form method="post" >
        <!-- Titulo do Form -->
        <!-- <img src="/assets/img/logo.png"  class="img-fluid" id="logo"><br><br> -->

          <i class="user outline icon" id="iconLogin"></i>

        <!-- input Email -->
        <div class="ui large left  icon input">
          <input type="email" class="form-control" name="email" id="email" placeholder="E-mail" [(ngModel)]="user.email"/>
          <i class="users icon" style="font-size:18px ;" ></i>
        </div><br>
        <!-- Input de Senha -->
        <div class="ui large left  icon input">
          <input type="password" class="form-control" name="senha" id="name" placeholder="Senha" [(ngModel)]="user.senha"/>
          <i class="unlock icon" style="font-size:18px ;"></i>
        </div><br>

        <div class="pass">
          <a href="#"> Esqueceu a senha ? </a>
        </div>
        <a [routerLink]="['/home']">
          <input type="submit" value="Login" id="submit" class="btnlogin" (click)="LoginUser()"><br><br>
        </a>
        <a [routerLink]="['/cadastro']">
          <div class="signup_link">
          Não tem uma conta? <a href="#">Cadastre-se</a>
          </div>
        </a>
      </form>
    </div>

    <!-- Conteudo da View -->
    <div class="content">
      <h1 class="content_title">AMOPATAS</h1>
      <h1 class="content_apresentacao">Tudo bem, isso aqui é um teste <br />feito por alunos da ETEC.</h1>
      <p class="content_descricao">Nós somos um site que tem o principal <br />motivo facilitar a adoção de animais.</p>
    </div>
  </div>
</div>
