<div class="container">
  <div class="card">
      <div class="media__card">
          <!-- Propriedade -->
      </div>
      <form method="post">
          <h1>AmoPatas</h1>
          <div class="txt_field">
              <input type="text" placeholder="Username" required >
          </div>

          <div class="txt_field">
              <input type="password" placeholder="Password" required>
          </div>

          <div class="pass">
              Forgot Password ?
          </div>
          <a [routerLink]="['/home']">
            <input type="submit" value="Login" class="btnlogin">
          </a>
          <a [routerLink]="['/pessoa']">
          <div class="signup_link">
              Not a member ? <a href="#">Signup</a>
          </div>
        </a>
      </form>
  </div>

  <div class="content">
    <h1 class="content_tit">AMOPATAS</h1>
    <h1 class="content_ap">Tudo bem, isso aqui é um teste</h1>
    <h2 class="content_ap_sec">feito por alunos da ETEC.</h2>
    <p class="content_ap_p">Nós somos um site que tem o principal <br/>motivo facilitar a adoção de animais.</p>
  </div>
</div>
