.container {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 160px;
  margin-left: 50px;
}

.log {
  background-image: url('/assets/img/login.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  color: black;
  overflow: auto;
  padding: 2em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.media__card {
  background: url('https://images.theconversation.com/files/385014/original/file-20210218-17-1fx1dvr.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=900.0&fit=crop') center/cover;
  height: 170px;
  width: 100%;
  /* background-color: #7fd8f8;
  border-bottom-left-radius: 30px; */


}

.card {
  /* tamanho do card */
  width: 400px;
  height: 600px;

  background-color: #fff;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5)
}

.card_titulo{
  font-size: 1.5rem;
  margin-top: 8px;
}

h1 {
  /* tamanho do titulo do conteudo */
  font-size: 1.5rem;
  text-align: left;
  padding: 2px;
}

.card form {
  /* padding do form > card*/
  padding: 0 30px;
}

form .txt_field {
  /* txt_field, parte interior do form */
  position: relative;
  border-bottom: 2px solid #a6a6a6;
  margin: 18px 3px;
}

.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 1rem;
  border: none;
  outline: none;
}

.pass {
  /* forgot password ? */
  margin: 5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}

#submit {
  /* button de ${Login} */
  width: 78%;
  height: 39px;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  color: #e9f4fb;
  cursor: pointer;
  background: linear-gradient(90deg, rgba(255, 170, 27, 1) 10%, rgba(255, 93, 52, 1) 30%, rgba(255, 56, 125, 1) 60%, rgba(163, 54, 189, 1) 90%);
}

.signup_link {
  /* Link que leva para o ${cadastro} */
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #6666;
}

.signup_link > a {
  color: #2691d9;
  text-decoration: none;
}

.content_title {
  /* Titulo do conteudo ! */
  font-size: 2.1rem;
  margin-bottom: 25px;
  font-weight: 700;
  color: black;
}

.content_apresentacao {
  /* Conteudo apresentação */
  font-size: 2rem;
  color: black;
  font-weight: 500;
}

.content_descricao {
  /* Conteudo descrição ! */
  font-size: 1.1rem;
  margin-top: 8px;
  margin-right: 8.5rem;
  font-weight: 500;
  color: black;
}

/* Button Facebook - google */

.icon{
  display: flex;
  flex-direction: column;
}

.icon > span{
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.8rem;
  text-align: center;
}

.icon .social-field {
  padding: .45rem;
  border-radius: 4px;
  font-size: 0.85rem;
  width: 95%;
  cursor: pointer;
  margin-top: .5rem;
  margin-left: 9px;
}

.icon .social-field > a {
  text-decoration: none;
  color: blue;
}

.icon .social-field > a > i {
  margin: 0 0.5rem;
  width: 15px;
}

/* Facebook */

.icon .social-field.facebook{
  background: linear-gradient(to right, white, white);
  border:2px solid blue;
}

/* Google */

.icon .social-field.google{
  background: #333333;
}

.icon .social-field.google{
  border: 1px solid #333333;
}

.icon .social-field.google a{
  color: white;
}

a{
  text-decoration: none;
}

#submit:hover{
  transform: scale(1.1);
  transition: all 0.7s;



}

#submit{
  -moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

#face{
  -moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
  border-radius: 8px;
  background-color: white;
}

#face:hover{
  transform: scale(1.1);
  transition: all 0.7s;
  -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

#google{
  -moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
  border-radius: 8px;
}

#google:hover{
  transform: scale(1.1);
  transition: all 0.7s;
  -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
#logo{
  width: 100px;
  height: 85px;
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  /* margin-top: 1%; */
  /* float: left; */

}

#logo:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

}

/* Caso precise do button instragram

.icon .social-field.instagram{
  background: linear-gradient(to right, #FEDA75, #FA7E1E, #D62976, #962FBF, #4F5BD5);
}

*/
