
<h1 class="my-3 text-primary">
  Lista de animais
</h1>
<!-- Card -->
<div class="card shadow">
  <table class="table table-responsive table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome animal</th>
        <th>Descricao</th>
        <th>Data de publicacao</th>
        <th>Data de doação</th>
        <th>Cidade</th>
        <th>UF</th>
        <th>Idade</th>
        <th>#</th>
        <th>#</th>
        <th>#</th>
        <th>#</th>
        <th>#</th>
        <th>#</th>
        <th>#</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let prod of listaPets">
        <td>{{this.prod.IdAnimal}}</td>
        <td>{{this.prod.nmAnimal}}</td>
        <td>{{this.prod.dsAnimal}}</td>
        <td>{{this.prod.dtPublicacao | date}}</td>
        <td>{{this.prod.dtAdocao | date}}</td>
        <td>{{this.prod.cdAnimal}}</td>
        <td>{{this.prod.UfAnimal}}</td>
        <td>{{this.prod.Idade}}</td>
        <td>{{this.prod.IdPorte}}</td>
        <td>{{this.prod.IdPessoa}}</td>
        <td>{{this.prod.IdRaca}}</td>
        <td>{{this.prod.IdCategoria}}</td>
        <td>{{this.prod.IdSituacao}}</td>
        <td>{{this.prod.IdTutor}}</td>
        <td>{{this.prod.IdSexo}}</td>
        <td>{{this.prod.IdDoador}}</td>
        <td>
        </td>
      </tr>
    </tbody>
  </table>
</div>


