<app-header></app-header>

<div class="text-center" style="margin-bottom: 20%; margin-top: 4%">
  <div class="text-center">
    <div class="bg-container mb-5 p-3">
      <div class="ui small circular rotate left reveal image" style="margin-left:45% ;">
        <img src="http://localhost:3333/files/{{user.imagem}}" class="ui medium circular image">
      </div>
      <h2 class="mt-3">{{user.name | uppercase}}</h2>
      <strong><p class="text-primary">{{user.descricao | uppercase}}</p></strong>
      <br>
      <br>
      <a [routerLink]="['/editar']">
        <div class="ui animated button ui blue basic button" id="edit" tabindex="0" style="width: 150px; height: 40px;">
          <div class="visible content">
            <i class="fa fa-pencil" aria-hidden="true" style="color:blue ;"></i>
          </div>
          <div class="hidden content">
            <span>EDITAR PERFIL</span>
          </div>
        </div>
        <br><br>
      </a>
      <br>
      <ul class="flex-row justify-content-center navbar-nav mr-auto">
        <li class="nav-item p-3">
          <a class="nav-link" [routerLink]="['/perfil']" routerLinkActive="router-link-active">
            <i class="fa fa-bars fa-2x"></i>
          </a>
        </li>
        <li class="nav-item p-3">
          <a class="nav-link" [routerLink]="['/pets']" routerLinkActive="router-link-active">
            <i class="fa fa-plus fa-2x" aria-hidden="true" style="--fa-animation-duration: 0.5s;" ></i>
          </a>
        </li>
        <li class="nav-item p-3">
          <a class="nav-link" [routerLink]="['/notificacoes']" routerLinkActive="router-link-active">
            <i class="fa fa-bell fa-2x"></i>
          </a>
        </li>
        <li class="nav-item p-3">
          <a class="nav-link " [routerLink]="['/favoritos']" routerLinkActive="router-link-active">
            <i class="fa fa-heart fa-2x "></i>
          </a>
        </li>
      </ul>
      <hr>
    </div>
  </div>
  <div class="container my-5 p-5" >
    <h2 class="display-3">
      <span style="color: #16479d; font-size: 50px">Cadastrar Pets</span>
    </h2>

    <!-- TODO INICIO DO FORMULARIO -->
    <form class="p-3" id="form" enctype="multipart/form-data" method="post">
      <div class="form-row mb-2">
        <div class="form-group col-md-12">
          <label for="inputFoto">Foto do pet:</label>
          <br/>
          <div class="input-group mb-3">
            <div class="input-group-prepend" >
                <i id="file" class="folder open outline icon" aria-hidden="true"></i>
            </div>
            <div class="custom-file">
              <input type="file" accept="image/*" class="custom-file-input" id="inputGroupFile01" (change)="selectedImage($event)"/>
              <label class="custom-file-label text-left" id="customFileLabel" for="inputGroupFile01">
                {{imagem.name | uppercase}}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row mb-2">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Nome:</label>
          <input type="text" class="form-control" name="senha" id="name" placeholder="Digite o nome do pet" [(ngModel)]="pets.name"/>
        </div>
        <div class="form-group col-md-6">
          <label for="exampleFormControlSelect1" >Porte</label>
          <select class="form-control" id="situacao" name="situacao" [(ngModel)]="pets.porte">
            <option value="PEQUENO">PEQUENO</option>
            <option value="MEDIO">MEDIO</option>
            <option value="GRANDE">GRANDE</option>
        </select>
        </div>
      </div>
      <div class="form-row mb-2">
        <div class="form-group col-md-6">
          <label for="inputCity">Raça:</label>
          <input type="text" class="form-control" name="senha" id="name" placeholder="Digite a raça do animal !"  [(ngModel)]="pets.breed" />
        </div>
        <div class="form-group col-md-6">
          <label for="inputCity">UF:</label>
          <select class="form-control" id="UF" name="UF" [(ngModel)]="pets.uf">
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AP">Amapá</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceará</option>
            <option value="DF">Distrito Federal</option>
            <option value="ES">Espírito Santo</option>
            <option value="GO">Goiás</option>
            <option value="MA">Maranhão</option>
            <option value="MT">Mato Grosso</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Pará</option>
            <option value="PB">Paraíba</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piauí</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondônia</option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina</option>
            <option value="SP">São Paulo</option>
            <option value="SE">Sergipe</option>
            <option value="TO">Tocantins</option>
            <option value="EX">Estrangeiro</option>
        </select>
        </div>
      </div>
      <div class="form-row mb-2">
        <div class="form-group col-md-6">
          <label for="inputCity"> E a Cidade:</label>
          <div class="ui fluid icon input">
            <input type="text" class="form-control" name="cidade" id="city" placeholder="Digite a cidade" [(ngModel)]="pets.cidade"/>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="inputCity">Idade:</label>
          <input type="number" class="form-control" name="senha" id="name" placeholder="Digite a idade do pet" [(ngModel)]="pets.age"/>
        </div>
      </div>
      <div class="row justify-content-center">
        <!-- <div class="form-group col-md-6">
          <label for="inputituacao">Situacao:</label><br />
          <div class="field">
          <select class="form-control" id="situacao" name="situacao" [(ngModel)]="pets.situacao">
              <option value="NÃO ADOTADO">NÃO ADOTADO</option>
              <option value="ADOTADO">ADOTADO</option>
          </select>
            <div class="ui pointing red basic label">
              obs:recomendamos que venha declarar a situação caso o animal seja
              adotado, e nos informe o @ da pessoa que o adotou
            </div>
          </div>
        </div> -->
        <div class="form-group col-md-8">
          <label for="inputCity">Sexo:</label>
          <select class="form-control" id="situacao" name="situacao" [(ngModel)]="pets.sexo">
            <option value="MACHO" selected>MACHO</option>
            <option value="FEMEA">FEMEA</option>
          </select>
        </div>
      </div>
      <div class="form-floating mb-4">
        <label for="floatingTextarea2">Descrição:</label>
        <input type="text" class="form-control" name="textarea" id="textarea" style="height:150px ;" [(ngModel)]="pets.descricao"/>
      </div>
      <div class="large ui buttons">
        <button type="submit" class="btn cadastro" (click)="cadastro()">Cadastrar</button>
        <button class="btn cancelar">Cancelar</button>
      </div>

    </form>
  </div>
</div>



