<div class="my-5 container text-center">
  <h1 class="fw-bold display-3">Ultimas <span class="text-danger">Noticias</span></h1>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide class="mb-4">
      <img src="https://i0.statig.com.br/bancodeimagens/2f/ym/i8/2fymi85z5vo5pcl5rsnsr3xgi.jpg">
    </ng-template>

    <ng-template carouselSlide class="mb-4">
      <img src="https://i0.statig.com.br/bancodeimagens/2f/ym/i8/2fymi85z5vo5pcl5rsnsr3xgi.jpg">
    </ng-template>

    <ng-template carouselSlide class="mb-4">
      <img src="https://i0.statig.com.br/bancodeimagens/2f/ym/i8/2fymi85z5vo5pcl5rsnsr3xgi.jpg">
    </ng-template>
  </owl-carousel-o>
</div>
