
<div class="spacing" style="padding:1.2% ;">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="/assets/img/anuncio2.png" alt="Angular Carousel 1" style="border-radius:36px; height: 250px;">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="/assets/img/anuncio3.png" alt="Angular Carousel 2" style="border-radius:36px ; height: 250px;">
      </div>
    </ng-template>
  </ngb-carousel>
</div>



