<app-header></app-header>

<div class="container my-5 text-center">
  <h1 class="Text1" style="font-size: 30px; color:blue">CONHEÇA QUEM ESTA POR TRÁS DO NOSSO PROJETO</h1><br>
  <b>
  <p>Este site tem como objetivo se tornar referência no Brasil quando se pensa em adoção e ajuda para pets.</p>

  <p>
   Temos como objetivo buscar e apoiar as pessoas quando se pensa em doações e ajuda para os pets.
    <br>
    Ser referência no Brasil e possuir a colaboração de ONGS e a COSAP para realizar tratamentos e alimentação dos
    animais.
    <br>
    Somos uma equipe com o proposito de transformação alicerçado em: Integridade, Ética, Respeito, Dedicação, Busca do
    Conhecimento e Espírito de Equipe.

  </p>
</b>
<br>


  <div class="containerft">
    <a href="https://www.linkedin.com/in/nilton-sales/"  target="_blank">
    <div class="card1" data-tooltip="NILTON SALES MATIAS DA SILVA">
      <img src="https://avatars.githubusercontent.com/u/80773214?v=4" alt="">

        <div class="social-area1">
          <i class="fa fa-linkedin-square p-3 fa-2x fa-inverse"></i>
        </div>

    </div>
  </a>
    <a href="https://www.linkedin.com/in/sarah-conti-935077194/" target="_blank">
    <div class="card2" data-tooltip="SARAH FERREIRA CONTI">
      <img src="https://avatars.githubusercontent.com/u/86991337?v=4" alt="">

        <div class="social-area2"><i class="fa fa-linkedin-square p-3 fa-2x fa-inverse"></i></div>

    </div>
          </a>
    <a href="https://www.linkedin.com/in/carlos-kauan-5a3832206/"  target="_blank">
    <div class="card3" data-tooltip="CARLOS KAUAN COSTA DE BRITO">
      <img
        src="https://media-exp1.licdn.com/dms/image/C4E03AQEdimf4wAfoOA/profile-displayphoto-shrink_200_200/0/1653842623011?e=1660780800&v=beta&t=3Xb7wxv1WX-8ZSsB3m1lF0iMcmKw_FElqqPS3-nOO9s"
        alt="">

          <div class="social-area3"><i class="fa fa-linkedin-square p-3 fa-2x fa-inverse"></i></div>

    </div>
  </a>
    <a href="https://www.linkedin.com/in/siangui-de-souza-aa3b93213/"  target="_blank">
    <div class="card4" data-tooltip="SIANGUI DE SOUZA SILVA">
      <img src="/assets/img/FOTO - SIANGUI.jpg" alt="">
      <!-- <a href="https://www.linkedin.com/in/siangui-de-souza-aa3b93213/"  target="_blank"> -->
        <div class="social-area4"><i class="fa fa-linkedin-square p-3 fa-2x fa-inverse"></i></div>

    </div>
  </a>
    <a href="https://www.linkedin.com/in/augusto-de-oliveira-carnaval-127820206/"  target="_blank">
    <div class="card5" data-tooltip="AUGUSTO DE OLIVEIRA CARNAVAL">
      <img src="/assets/img/fotoaugusto.jpg" alt="">
      <!-- <a href="https://www.linkedin.com/in/augusto-de-oliveira-carnaval-127820206/"  target="_blank"> -->
        <div class="social-area5"><i class="fa fa-linkedin-square p-3 fa-2x fa-inverse"></i></div>

    </div>
</a>

    </div>
  </div>


