<app-header></app-header>

<div class="container my-5 text-center">
  <h1 class="display-5 text-light">CONHEÇA QUEM ESTA POR TRÁS DO NOSSO PROJETO</h1>
  <h2 class="display-5 text-light">EQUIPE</h2>
  <p>Este site tem como objetivo se tornar referência no Brasil quando se pensa em adoção e ajuda para pets.</p>

  <p class="display-5">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    Provident nesciunt voluptas a. Praesentium animi dignissimos eius quia nulla sapiente est itaque,
    similique soluta maiores quisquam obcaecati voluptatem illum totam iure.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam autem mollitia placeat eius adipisci
    commodi neque numquam necessitatibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo repellat
  </p>

<div class="container">
  <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGLsMukPtqqcg/profile-displayphoto-shrink_200_200/0/1622047474868?e=1654128000&v=beta&t=plOMn7tPhOA68SyzgoFm3cnToJ5L_F_q_rHeobt7NWs" class="rounded-circle p-2">
  <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGLsMukPtqqcg/profile-displayphoto-shrink_200_200/0/1622047474868?e=1654128000&v=beta&t=plOMn7tPhOA68SyzgoFm3cnToJ5L_F_q_rHeobt7NWs" class="rounded-circle p-2">
  <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGLsMukPtqqcg/profile-displayphoto-shrink_200_200/0/1622047474868?e=1654128000&v=beta&t=plOMn7tPhOA68SyzgoFm3cnToJ5L_F_q_rHeobt7NWs" class="rounded-circle p-2">
  <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGLsMukPtqqcg/profile-displayphoto-shrink_200_200/0/1622047474868?e=1654128000&v=beta&t=plOMn7tPhOA68SyzgoFm3cnToJ5L_F_q_rHeobt7NWs" class="rounded-circle p-2">
  <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGLsMukPtqqcg/profile-displayphoto-shrink_200_200/0/1622047474868?e=1654128000&v=beta&t=plOMn7tPhOA68SyzgoFm3cnToJ5L_F_q_rHeobt7NWs" class="rounded-circle p-2">
</div>
</div>

<hr />
