<app-header></app-header>


<div class="container my-5 text-center">
  <h1 class="Text1">CONHEÇA QUEM ESTA POR TRÁS DO NOSSO PROJETO</h1>
  <h2 class="display-5 text-light">EQUIPE</h2>
  <p>Este site tem como objetivo se tornar referência no Brasil quando se pensa em adoção e ajuda para pets.</p>

  <p>
    Temos como objetivo buscar e apoiar as pessoas quando se pensa em doações e ajuda para os pets.
    <br>
    Ser referência no Brasil e possuir a colaboração de ONGS e a COSAP para realizar tratamentos e alimentação dos animais.
    <br>
    Somos uma equipe com o proposito de transformação alicerçado em: Integridade, Ética, Respeito, Dedicação, Busca do Conhecimento e Espírito de Equipe.
  </p>

  <div class="containerft">
    <div class="card1">
      <h1 class="cardtxt1">Front-end</h1>
    </div>
    <div class="card2">
      <h1 class="cardtxt2">Front-end</h1>
    </div>
    <div class="card3">
      <h1 class="cardtxt3">Front-end</h1>
    </div>
    <div class="card4">
      <h1 class="cardtxt4">Front-end</h1>
    </div>
    <div class="card5">
      <h1 class="cardtxt5">Front-end</h1>
    </div>
  </div>
</div>

<hr />
