/* You can add global styles to this file, and also import other style files */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  /* background-color: #00ace9; */
  /* background-image: url('/assets/img/backgroud.png'); */
   /* background-color: white;; */

   background-image: url("assets/img/back.png");
}

.table{
  display: table;
}

.col{
 padding:10px;
}


h1{
  text-align: center;
}

h3{
  text-align: center;
}

.card{
  background-color: white;
  border-radius: 8px;
  border: 2px solid #c2c2c2;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
